.user {
    display: flex;
    padding: 5px 10px;
    height: 30px;
    align-items: center;

}

.user--selected {
    background: #eff2f2;
}

.user--list {
    margin: 5px;
}

.user:not(.user--selected):hover {
    background-color: #d8e8f5;
}

.user__avatar {
    height: 100%;
    border-radius: 50%;
}

.user__name {
    padding: 0px 15px;
}

.user__button {
    background: none;
    border: none;
    color: grey;
    padding: 0;
}

.user__button:hover {
    color: #5998d1;
}