.dialog {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    padding: 20px;
    overflow: hidden;
    font-family: 'Segoe UI', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Arial', 'sans-serif';
    background-color: white;
}

.dialog__title {
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: 400;
    color: #2f76b7;
}

.dialog__search {
    height: 30px;
    border: 2px solid #5b9bd5;
}

.dialog__selected-users {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;

    flex: 0 0 auto;
    margin: 10px 0px;
}

.dialog__list {
    flex: 1 1 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #c8d3d3;
}

.dialog__footer {
    flex: 1 0 auto;
    align-self: flex-end;
    margin-top: 15px;
}

.dialog__button {
    width: 100px;
    margin: 0px 5px;
    padding: 10px 15px;
    color: black;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.dialog__button--primary {
    color: white;
    background: #5b9bd5;;
}

.dialog__button:hover {
    background-color: #ebebeb;
}

.dialog__button--primary:hover {
    background: rgb(42, 104, 162);
}

.empty-list {
    margin: auto;
}